# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [4]:
messages.count()

id          26248
message     26248
original    10184
genre       26248
dtype: int64

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [6]:
categories.count()

id            26248
categories    26248
dtype: int64

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [13]:
# check if 'id' is unique in both
messages.loc[messages.duplicated(subset='id') == True] #68 rows duplicated

,id,message,original,genre
163,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct
656,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
710,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
1408,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct
2131,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct
...,...,...,...,...
24040,27768,An EU-backed French offensive against rebels r...,NaN,news
24648,28462,"To date, a total of 39 people suffering from E...",NaN,news
24856,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news
25156,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news
25242,29119,Most victims (90 per cent) show little or no s...,NaN,news

In [10]:
# are there duplicates in categories?
categories.loc[categories.duplicated(subset='id') == True] #also 68 rows duplicated

          id                                         categories
163      202  related-1;request-1;offer-0;aid_related-1;medi...
656      804  related-2;request-0;offer-0;aid_related-0;medi...
710      862  related-1;request-0;offer-0;aid_related-0;medi...
1408    1652  related-1;request-1;offer-0;aid_related-1;medi...
2131    2446  related-1;request-0;offer-0;aid_related-0;medi...
...      ...                                                ...
24040  27768  related-1;request-0;offer-0;aid_related-0;medi...
24648  28462  related-1;request-0;offer-0;aid_related-1;medi...
24856  28687  related-1;request-0;offer-0;aid_related-1;medi...
25156  29022  related-1;request-0;offer-0;aid_related-1;medi...
25242  29119  related-1;request-0;offer-0;aid_related-1;medi...

[68 rows x 2 columns]

In [17]:
# Deduplicate in both dfs before merging
messages = messages.drop_duplicates()
categories = categories.drop_duplicates()

In [15]:
#count to check
messages.count() #correct number

id          26180
message     26180
original    10153
genre       26180
dtype: int64

In [18]:
#count to check
categories.count() #32 removed, so there must be some id dupes but different 'categories' values

id            26216
categories    26216
dtype: int64

In [20]:
# check this
categories.loc[categories.duplicated(subset='id') == True] # yes this is the case 
#-> we can leave this as is for now and deduplicate at the end once we've decided which row to keep

          id                                         categories
163      202  related-1;request-1;offer-0;aid_related-1;medi...
710      862  related-1;request-0;offer-0;aid_related-0;medi...
1408    1652  related-1;request-1;offer-0;aid_related-1;medi...
2825    3250  related-1;request-1;offer-0;aid_related-0;medi...
3374    3882  related-1;request-1;offer-0;aid_related-1;medi...
4341    4956  related-0;request-0;offer-0;aid_related-0;medi...
4522    5153  related-1;request-0;offer-0;aid_related-1;medi...
5072    5776  related-1;request-0;offer-0;aid_related-0;medi...
5607    6393  related-0;request-0;offer-0;aid_related-0;medi...
5697    6492  related-0;request-0;offer-0;aid_related-0;medi...
5720    6515  related-1;request-1;offer-0;aid_related-0;medi...
5878    6687  related-0;request-0;offer-0;aid_related-0;medi...
6844    7747  related-0;request-0;offer-0;aid_related-0;medi...
7037    7945  related-1;request-1;offer-0;aid_related-1;medi...
7264    8190  related-1;request-1;offer-0;aid_related-1;medi...
9162   10286  related-1;request-1;offer-0;aid_related-1;medi...
10102  11503  related-1;request-1;offer-0;aid_related-1;medi...
10822  12416  related-1;request-0;offer-0;aid_related-1;medi...
10827  12420  related-1;request-0;offer-0;aid_related-1;medi...
12052  13914  related-1;request-0;offer-0;aid_related-0;medi...
12163  14135  related-1;request-1;offer-0;aid_related-1;medi...
13206  15760  related-0;request-0;offer-0;aid_related-0;medi...
13645  16245  related-1;request-0;offer-0;aid_related-1;medi...
14686  17385  related-1;request-0;offer-0;aid_related-0;medi...
14837  17553  related-1;request-0;offer-0;aid_related-0;medi...
16086  18925  related-1;request-0;offer-0;aid_related-0;medi...
16156  19003  related-1;request-0;offer-0;aid_related-1;medi...
16281  19142  related-1;request-0;offer-0;aid_related-1;medi...
16769  19687  related-1;request-0;offer-0;aid_related-0;medi...
19625  22858  related-1;request-0;offer-0;aid_related-0;medi...
20876  24247  related-1;request-0;offer-0;aid_related-1;medi...
20966  24347  related-1;request-0;offer-0;aid_related-1;medi...
22028  25512  related-1;request-0;offer-0;aid_related-1;medi...
24040  27768  related-1;request-0;offer-0;aid_related-0;medi...
24648  28462  related-1;request-0;offer-0;aid_related-1;medi...
25156  29022  related-1;request-0;offer-0;aid_related-1;medi...

In [4]:
# merge datasets
df = messages.join(categories.set_index('id'), on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [27]:
#try merge instead of join
df = pd.merge(messages, categories, how='left', on='id')

In [28]:
#check that the the join was performed correctly
df.count()
#seems like the number of id matches the categories rather than messages
#which is correct as there are more ids in that df

id            26216
message       26216
original      10170
genre         26216
categories    26216
dtype: int64

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [29]:
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [31]:
# create a dataframe of the 36 individual category columns
categories2 = categories['categories'].str.split(pat=';', expand=True)
categories2.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [32]:
# select the first row of the categories dataframe
row = categories2.iloc[0]
row

0                    related-1
1                    request-0
2                      offer-0
3                aid_related-0
4               medical_help-0
5           medical_products-0
6          search_and_rescue-0
7                   security-0
8                   military-0
9                child_alone-0
10                     water-0
11                      food-0
12                   shelter-0
13                  clothing-0
14                     money-0
15            missing_people-0
16                  refugees-0
17                     death-0
18                 other_aid-0
19    infrastructure_related-0
20                 transport-0
21                 buildings-0
22               electricity-0
23                     tools-0
24                 hospitals-0
25                     shops-0
26               aid_centers-0
27      other_infrastructure-0
28           weather_related-0
29                    floods-0
30                     storm-0
31                      fire-0
32                earthquake-0
33                      cold-0
34             other_weather-0
35             direct_report-0
Name: 0, dtype: object

In [33]:
# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = lambda x: row[x][:-2]

category_colnames2=[]
for i in range(0,len(row)):
    category_colnames2.append(category_colnames(i))
    
print(category_colnames2)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [34]:
# rename the columns of `categories`
categories2.columns = category_colnames2
categories2.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [35]:
categories3 = categories2 #make a copy

In [41]:
categories3.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [42]:
#takes awhile to run
for column in categories3:
    for nrow in range(0, categories3.shape[0]):
        categories3[column].iloc[nrow] = str(categories3[column].iloc[nrow][-1])

In [ ]:
#check index values
# categories3.reset_index(drop=True, inplace=True)

In [ ]:
#try this to see if it speeds it up next time
for column in categories3:
    categories3[column] = categories3[column].apply(lambda x: str(x[-1]))

In [39]:
# for column in categories3:
#     for nrow in range(0,categories3.shape[0]):
#         categories3[column][nrow] = str(categories3[column][nrow][-1])

KeyError: 656

In [43]:
categories3.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Check that the clean has worked as expected

In [44]:
categories3.iloc[[1]]

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0

In [45]:
categories.shape[0]

26216

In [46]:
len(categories3.index)

26216

In [47]:
## maybe we need to merge categories3 back in with categories to get id column? 
categories4 = categories3.join(categories['id']) # by default this will join on index if column not specified
categories4.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,1,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,7
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

In [52]:
#check this has joined correctly >> looks right
categories.loc[categories['id']==2].values[0]

array([2,
       'related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0'],
      dtype=object)

### Check for duplicates in messages

In [53]:
messages['id'].duplicated().any() # no dupes

False

In [54]:
messages.duplicated().any() # no dupes

False

### Check for duplicates in categories4 and decide how to clean

In [64]:
categories4.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,1,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,7
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

In [59]:
categories4['id'].duplicated().any()

True

In [60]:
dupcheck = categories4[categories4['id'].duplicated()== True].sort_values(by=['id'])
dupcheck

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
163,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202
710,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,862
1408,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1652
2825,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3250
3374,1,1,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3882
4341,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4956
4522,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,5153
5072,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5776
5607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6393
5697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6492
5720,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,6515
5878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6687
6844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7747
7037,1,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,7945
7264,1,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,8190
9162,1,1,0,1,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,1,10286
10102,1,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,11503
10822,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12416
10827,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,12420
12052,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13914
12163,1,1,0,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,14135
13206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15760
13645,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16245
14686,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,17385
14837,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17553
16086,1,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,18925
16156,1,0,0,1,0,0,0,0,0,0,...,0,1,1,0,0,1,1,0,0,19003
16281,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,19142
16769,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,19687
19625,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22858
20876,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,24247
20966,1,0,0,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,24347
22028,1,0,0,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,25512
24040,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27768
24648,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,28462
25156,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,29022

In [112]:
dupcheck.shape[0]

36

In [73]:
test202 = categories4.loc[categories4['id']==202]
test202

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
162,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202
163,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202

In [62]:
#loop through to figure out which column is different (not duplicated?)

diffvarlist = []

for x in test202:
    var = test202[x].iloc[0] == test202[x].iloc[1]
    if var == True:
        pass
    elif var == False:
        diffvarlist.append(x)

In [63]:
diffvarlist

['other_aid']

In [64]:
test202['other_aid']

162    1
163    0
Name: other_aid, dtype: object

In [ ]:
## What do we want to do in this scenario?
# Option 1: remove these rows (these IDs)
# Option 2 (chosen): impute nulls in these columns where the values don't match

In [65]:
#test replace (test202)
test202_rep = test202[diffvarlist].replace(to_replace=['0','1'], value=np.nan, inplace=False)
test202_rep

     other_aid
162        NaN
163        NaN

In [82]:
#how do we replace the column in test202 with the imputed null in test202rep?
test202[diffvarlist].replace(to_replace=['0','1'], value=np.nan, inplace=True)
test202

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
162,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202
163,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202

In [80]:
test202['other_aid']

162   NaN
163   NaN
Name: other_aid, dtype: float64

In [81]:
test202

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
162,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202
163,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202

In [154]:

    
# subset df for each particular id
testdf = categories4.loc[categories4['id']== 13914]

#create empty list
diffvarlist = []

# # #loop through to find the variable that is different for each id
for col in testdf:
    var = testdf[col].iloc[0] == testdf[col].iloc[1]
#     print(var)
    if var == True:
        pass
    elif var == False:
        diffvarlist.append(col)
        
# diffvarlist
#Loop through the variable that is different and impute nulls
for var in diffvarlist:
    testdf[var].replace(to_replace=['0','1','2'], value=np.nan, inplace=True) # case 13914 value is NaN and 2, so this step does not occur
    
# testdf = testdf.drop_duplicates(subset=['id'])

C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [155]:
testdf

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
12051,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13914
12052,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13914

In [115]:
temp = pd.concat([categories4_nodup, testdf])

In [116]:
categories4_nodup.shape[0]

26144

In [117]:
temp.shape[0]

26146

In [156]:
# Remove dupe rows IDs in main table
categories4_nodup = categories4[~categories4['id'].isin(list(dupcheck['id']))]

In [125]:
# Check removal >> works
categories4_nodup['id'].duplicated().any()

False

In [157]:
# Impute nulls for dupes

for id_dupe in list(dupcheck['id']):
    
    # subset df for each particular id
    testdf = categories4.loc[categories4['id']== id_dupe]
    
    #create empty list
    diffvarlist = []
    
    #loop through to find the variable that is different for each id
    for col in testdf:
        var = testdf[col].iloc[0] == testdf[col].iloc[1]
        if var == True:
            pass
        elif var == False:
            diffvarlist.append(col)
    
    #Loop through the variable that is different and impute nulls
    for var in diffvarlist:
        #impute
        testdf[var].replace(to_replace=['0','1','2'], value=np.nan, inplace=True) #include 2 for niche cases
        
    #drop duplicates
    testdf = testdf.drop_duplicates()
    
    #Append onto df with no duplicates
    categories4_nodup = pd.concat([categories4_nodup, testdf])

C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
C:\Users\User\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [159]:
# Check removal >> Needs to be false to indicate it has worked
categories4_nodup['id'].duplicated().any()

False

In [160]:
categories4_nodup[categories4_nodup['id'].duplicated()==True]

Empty DataFrame
Columns: [related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report, id]
Index: []

[0 rows x 37 columns]

In [147]:
categories4_nodup.loc[categories4_nodup['id']==13914]

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
12051,2.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13914
12052,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,13914

In [161]:
categories4_nodup.shape[0]

26180

In [162]:
categories4.shape[0] # 36 rows removed as expected

26216

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [163]:
# remerge
df = pd.merge(messages, categories4_nodup, how='left', on='id')
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [164]:
#count
df.shape[0]

26180

In [165]:
messages.shape[0]

26180

In [166]:
categories4_nodup.shape[0]

26180

### Original instructions (disregard)
#### Instead of adding our cleaned 'categories' dataframe we will instead check for duplicates in messages and remerge. This means we don't need to remove duplicates later on.

In [ ]:
# drop the original categories column from `df`
df.head()

# concatenate the original dataframe with the new `categories` dataframe
df = 
df.head()

### 6. Remove duplicates. (disregard)
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [ ]:
# check number of duplicates

In [ ]:
# drop duplicates

In [ ]:
# check number of duplicates

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [ ]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('InsertTableName', engine, index=False)

### 8. Use this notebook to complete `process_data.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `process_data.py` in the classroom on the `Project Workspace IDE` coming later.